<h1>Welcome to some sort of store</h1>
<h3>We aren't sure what we sell yet, sorry :( Maybe we sell birds, does that seem like a pretty good idea?</h3>
<p>We have a clock for you to use, so that is pretty great. The date and time is <%= Time.now %></p>
<%= image_tag("rarebird.jpg", class: "img-fluid") %>
