<h1>Welcome to some sort of store</h1>
<h3>We aren't sure what we sell yet, sorry :(</h3>
<p>Welcome! The date and time is <%= Time.now %></p>
<% test_variable = 34 %>
<%= test_variable + 67%>
<%= image_tag("rarebird.jpg", class: "img-responsive") %>
