<h1>THANKS</h1>
<h5>We have received your message, shortly you will receive an email stating the same thing. We may or may not look at your message, it kind of depends on how busy we are. Your message is important to us, sort of.</h5>
