
.product_info h5{
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #7c870e;
  margin-bottom: .5em;
  font-weight: 500;
}

.product_body{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 0px;
}

.product_info{
  margin-top: 10px;
}

.product_info p{
  padding-right: 15px;
}

.product_title h2{
  padding: 7px;
  background: black;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.1em;
}

.product_image img{
  width: 100%;
  padding: 10 10 10 0;
}

.nopadding {
   padding: 0 !important;
}


.thumbnail{
  max-width: 250px;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover{
  opacity: .2;
  width: 15%;
}

#comment_body{
  width: 90%;
}

.product-reviews-form{
  margin-bottom: 20px;
  border: .5px solid #f7f7f7;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(224,224,224,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(224,224,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(224,224,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.product-reviews{
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(224,224,224,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(224,224,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(224,224,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 10px;
  border-top: .1px dashed black;
}

.rating_inner{
  padding-left: 40px;
}
.rating_inner img{
  width: 20px;
}

.comment_text{
  display: block;
  width: 100%;
}

.editing_options{
  text-align: right;
  margin-top: 15px;
}

.page_bar p{
  color: white;
  padding-top: 5px;
}

.page_bar{
  font-family: 'Alegreya Sans SC', sans-serif;
  color: white!important;
  background: black;
  width: 80%;
  margin-top: 30px;
  margin-left: 10%;
  text-align: center;
}

.pagination{
  padding-left: 5px;
  padding-top: 7px;
  font-size: 1.4em;
  padding-bottom: 7px;
  display: block!important;
  color: white!important;
  }

.pagination a{
  padding-left: 15px;
  font-size: 1.1em;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.pagination a:visited{
  color: white;
}

.pagination a:link{
  color: white;
}

.pagination em{
  padding-left: 15px;
  font-size: 2em!important;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #7c870e;
}


.next_page{
  padding-left: 15px;
  font-size: 1.1em;
}

.previous_page{
  padding-left: 15px;
  font-size: 1.1em;
}

.shopping_options_btn_wrapper{
  width: 100%;
}

.shopping_options_btn{
  padding: 4px;
  border: .5px solid black;
  border-radius: 10px;
  margin-right: 5px;
  width: 30%;
  display: inline-block;
}

.shopping_options_btn img{
  width: 100%;
  height: auto;
}

#buy_bird_now button{
	background: white;
	color: inherit;
	border: 0px solid white;
	padding: 0;
	font: inherit;
	outline: inherit;
}
