h1{
  font-family: 'Amaranth', sans-serif;
  color: #7c870e;
}

h2, h3, h4, h5{
  font-family: 'Amaranth', sans-serif;
  color: #845b25;
}

p, a{
  font-family: 'Quicksand', sans-serif;
  color: #7c870e;
  margin-bottom: .5rem;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

h1{
  padding-bottom: 30px;
}

.wrapper{
  min-height: calc(100vh - 80px);
  padding-top: 60px;
}

.contentwrapper{
  margin-left: 8%;
  margin-right: 8%;
  padding-bottom: 80px;
}


.header{
  width: 100%;
  height: 40px;
  background: black;
  top: 0;
  position: fixed;
  z-index: 20;
}

.logo{
  width: 33%;
  float: left;
  padding-top: 4px;
}

.logo img{
  padding-left: 15px;
  max-height: 30px;
}

.topnav{
  padding-bottom: auto;
}

.topnav{
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  padding-top: 9px;
  padding-right: 15px;
}

.topnav li {
  display: inline-block;
  list-style-type: none;
}

.topnav li a {
  display: block;
  color: white;
  font-family: 'Amaranth', sans-serif;
  font-size: 1.2em;
  text-align: center;
  padding-left: 16px;
  text-decoration: none;
}

.footer{
  height: 80px;
  // position: fixed;
  bottom: 0;
  width: 100%;
  background: black;
  color: white;
  padding-left: 10%;
  padding-top: 10px;
}

#continue_button{
  width: 20%;
  height: 40px;
  margin-left: 40%;
}
