h1, h2{
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #7c870e;
}

.mkt_messages h3, h4, h5{
  font-family: 'Quicksand', sans-serif;
  color: black;
  margin-bottom: .5em;
  font-weight: 500;
}



h3{
  font-size: 1.7em;
}

h4{
  font-size: 1.6em;
}

h5{
  font-size: 1.5em;
  font-weight: 450;
}

p, a{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4em;
  color: black;
  margin-bottom: .5rem;
  font-weight: 100;
}

a:hover{
  background-color: transparent;
  color: black;
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.nav-link{
  padding: 0!important;
}


.inline{
  display: inline;
}

.inline-pad{
  margin-bottom: .5rem;
}

#review_submit_btn{
  margin-top: 15px;
  float: right;
}

.row{
  margin: 0!important;
}

.wrapper{
  min-height: calc(100vh - 100px);
  padding-top: 115px;
  position: relative;
}

.contentwrapper{
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 80px;
  overflow-wrap: break-word;
}


.header{
  width: 100%;
  height: 53px;
  background: black;
  top: 0;
  position: fixed;
  z-index: 20;
}

.searchbar {
  width: 100%;
  height: 38px;
  background: rgb(30,78,154); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(30,78,154,1) 0%, rgba(39,209,79,1) 51%, rgba(209,52,209,1) 98%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(30,78,154,1) 0%,rgba(39,209,79,1) 51%,rgba(209,52,209,1) 98%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(30,78,154,1) 0%,rgba(39,209,79,1) 51%,rgba(209,52,209,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e4e9a', endColorstr='#d134d1',GradientType=1 ); /* IE6-9 */
  top: 53px;
  position: fixed;
  z-index: 20;
}

.searchbox{
  float: right;
  padding-top: 6px;
  padding-right: 6px;
  border-radius: 4px;
}

.searchbox input{
  border-radius: 10px;
}


.logo{
  width: 33%;
  padding-top: 14px;
  display: inline-block;
}

.logo img{
  padding-left: 15px;
  max-height: 30px;
}

@media (max-width: 850px) {
  .logo{
    display: none;
  }
}

.mobile_logo{
  width: 33%;
  float: left;
  padding-top: 14px;
  display: none;
}

.mobile_logo img{
  padding-left: 15px;
  max-height: 30px;
}

.mobile_nav{
  margin-left: 10%;
  padding-top: 150px;
  display: none;
  width: 60%;
}

.mobile_nav_item_wrapper{
  padding-right: 10%;
}

.mobile_nav li{
  font-size: 2em;
  line-height: 2em;
  list-style-type: none;
}

.mobile_nav a{
  font-weight: 500;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: white;
}

@media (max-width: 850px) {
  .mobile_logo{
    display: inline-block;
  }
}

.hamburger{
  top: 0;
  width: 55px;
  right: 0;
  padding: 10px;
  position: absolute;
  display: none;
}

.nav_close{
  top: 0;
  width: 55px;
  right: 0;
  padding: 10px;
  position: absolute;
  display: none;
}

@media (max-width: 850px) {
  .hamburger{
    display: inline-block;
  }
}

.topnav{
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  padding-top: 19px;
  padding-right: 15px;
  display: block;
}

.topnav li {
  display: inline-block;
  list-style-type: none;
}

.topnav li a {
  display: block;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4em;
  text-align: center;
  padding-left: 16px;
  text-decoration: none;
}

@media (max-width: 850px) {
  .desk_nav{
    display: none;
  }
}

.mobile_nav_wrapper{
  height: 0;
  background: rgba(0, 0, 0, .9);
  z-index: 20;
  top: 0;
  position: fixed;
  width: 100%;
}


.bird_welcome{
  z-index: 5;
  width: 100%;
  top: 100px;
}

.bird_welcome img{
  width: 100%;
  height: auto;
  z-index: 1;
}

.first_bird{
  width: 100%;
  height: auto;
  z-index: 5;
  top: 200px;
  overflow-x: hidden;
}

.mkt_messages{
  text-align: center;
  border: 10px solid black;
  background: white;
}

.mkt_messages_2{
  border: 10px solid black;
  background: white;
  margin-top: 20px;
}

.mkt_messages_2 ul{
  color: black;
  font-size: .8em;
  font-family: 'Quicksand', sans-serif;
  list-style-image: url('../assets/ul_bird_icon.svg');
  font-weight: 300;
}

.mkt_messages_2 li{
  padding-bottom: 5px;
}

.sign_up_section{
  margin-top: 40px;
  margin-bottom: 40px;
}

.sign_up_btn_wrapper{
  margin-left: 10%;
  width: 80%;
  margin-top: 10%;
  height: 80%;
}

.sign_up_landing_btn{
  background: rgba(134, 200, 0, 1);
  padding-left:35%;
  padding-right: 35%;
  padding-top: 10%;
  padding-bottom: 10%;
  display: inline-block;
}

.sign_up_landing_btn a{
    text-align: center;
}

.sign_up_section a{
  font-family: 'Alegreya Sans SC', sans-serif;
  color: black;
  font-size: 1.8em;
  font-weight: 500;
  width: 100%;
  height: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.sign_up_section a:hover{
  z-index: -1;
  font-size: 2.2em;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  background-color: rgba(134, 200, 0, 1);
  text-decoration: none;
}

.mkt_msg {
  padding: 10px;
}

.mkt_msg img{
  width: 100%;
  height: auto;
}

.mkt_msg_wrapper{
  padding: 20px;
  border: .5px dashed black;
  margin: 10px;
  z-index: -1;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  min-height: 250px;
}

.tiny-disclaimer{
  font-size: .7em;
  color: red;
  font-style: italic;
}

.first_bird img{
  width: 100%;
  height: auto;
  max-width: 600px;
}

.bird_msg_wrapper{
  top: 350px;
  z-index: 18;
}

@media (max-width: 600px) {
  .bird_msg_wrapper{
    top: 450px;
  }
}

.footer{
  height: 100px;
  bottom: 0vh;
  width: 100%;
  background: rgb(30,78,154); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(30,78,154,1) 0%, rgba(39,209,79,1) 51%, rgba(209,52,209,1) 98%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(30,78,154,1) 0%,rgba(39,209,79,1) 51%,rgba(209,52,209,1) 98%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(30,78,154,1) 0%,rgba(39,209,79,1) 51%,rgba(209,52,209,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e4e9a', endColorstr='#d134d1',GradientType=1 ); /* IE6-9 */
}

.footer_content{
  padding-left: 15px;
  padding-top: 10px;
  background: black;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
  text-align: center;
  bottom: 0;
}

.footer_content p{
  color: white;
  font-size: 1em;
}

#continue_button{
  width: 20%;
  height: 40px;
  margin-left: 40%;
}



.form-style{
  background-color: black;
  padding: 5px;
  font-family: 'Quicksand', sans-serif;
}

.form-control {
  font-size: 1rem;
  line-height: 1.4;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: white;
}

.form-style input{
  width: 100%;
}

.form-style textarea{
  width: 100%;
}

div.field, div.actions {
margin-bottom: 0px;
}


#order-body{
  padding:5px!important;
  border: .5px solid grey;
  width: 100%;
}

#order-body img{
  width: 15%;
  float: left;
  margin-right: 3%;
}

.bird-order-price{
  float: right;
}

.editing_options{
  padding-top: 15px;
  font-size: .8em;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0!important;
}

.specials{
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 30px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  border: .5px solid black;
}

@media (max-width: 600px) {
  .specials{
    width: 100%;
    margin-left: 0%;
  }
}


.carousel-inner img{
  width: 100%;
}

.carousel{
  width: 100%;

}

.carousel-control{
  width: 100%;
}

.carousel-caption{
  font-size: 2em;
  background-color: black;
  position: relative;
  left: 0;
  bottom:0;
}

.carousel-indicators{
  bottom:-80px;
}

.carousel-indicators .active{
    background-color: rgba(134, 200, 0, 1);
}

.carousel-indicators li{
    background-color: black;
    width: 25px;
    height: 25px;
    margin: 15px;
    border-radius: 5px;
}

.shop_collections{
  margin-bottom: 10%;
}

.collection img{
  width: 100%;
  height: auto;
}

.collection_text{
  background: black;
}

.collection_text h1{
  font-size: 3em;
  padding: 10px;
  color: white;
  font-weight: 100;
}

.collection_wrapper{
  margin-right: 25px;
  margin-top: 25px;
  z-index: -1; /* hide shadow behind image */
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.warning_text{
  color: red!important;
  font-weight: 800;
  font-style: italic;
}

.admincreate_text{
  color: blue!important;
  font-weight: 800;
  font-style: italic;
}

.pad_top{
  padding-top: 30px;
}

.actions input{
  background-color: black;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  float: right;
}

.remember_me{
 display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;
 margin-top: 12px;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 float: right;
 text-align: left;
 font-family: 'Quicksand', sans-serif;
 font-size: 1.4em;
 color: black;
 margin-bottom: .5rem;
 font-weight: 100;
 text-align: right;
 width: 100%;
 margin-right: 10px;
}


input[type=checkbox]{
  position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}

/* Create a custom checkbox */
.checkmark {
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 1px solid black;
    float:right;
    margin-left: 10px;
}

/* On mouse-over, add a grey background color */
.remember_me:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.remember_me input:checked ~ .checkmark {
    background: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    background: black;
}

/* Show the checkmark when checked */
.remember_me input:checked ~ .checkmark:after {
    background: black;
}

/* Style the checkmark/indicator */
.remember_me .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.login_wrapper{
  width: 50%;
  padding: 30px;
  z-index: -1; /* hide shadow behind image */
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 588px){
  .login_wrapper{
    width: 100%;
  }
}

@media (min-width: 588px){
  .center-col-6{
    margin-left: 25%;
    margin-top: 4%;
  }
}


.user-links{
  text-align: right;
  margin-right: 10px;
}

.comment_text p{
  font-style: italic;
}

.order_count{
  color: white;
  background-color: red;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  font-size: 1.2em;
}
