<div class="pad_top">
  <h2>Customer Reviews</h2>
  <% if @comments.empty? %>
    <h5>Sorry, no reviews for this bird yet.  Be the first to tell us what you think!</h5>
  <% end %>
</div>
<div class="customer-reviews">
    <% @comments.each do |comment| %>
      <%= render comment %>
    <% end %>
</div>
<% if !@comments.empty? %>
  <div class="page_bar">
    <p class="paginate_title">More Reviews</p>
    <%= will_paginate @comments %>
  </div>
<% end %>
